theme "catppuccin-mocha"

simplified_ui false
pane_frames true
default_layout "compact"
show_startup_tips false

on_force_close "quit"

keybinds {
    shared_except "locked" {
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt Down" { MoveFocus "Down"; }

        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt Up" { MoveFocus "Up"; }

        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt Left" { MoveFocus "Left"; }

        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt Right" { MoveFocus "Right"; }

        bind "Alt -" { NewPane "Right"; }
        bind "Alt |" { NewPane "Down"; }

        bind "Alt x" { CloseFocus; }
        bind "Alt f" { ToggleFocusFullscreen; }

        bind "Alt ." { GoToNextTab; }
        bind "Alt ," { GoToPreviousTab; }
        
        bind "Alt t" { NewTab; }

        bind "Ctrl q" { Quit; }
    }
}